.entrance-button {
  display: flex;
  color: $color-text;
  font-family: $font-secondary;
  background-color: rgba($color-red, 0.6);

  * {
    pointer-events: none;
  }

  &__left,
  &__right {
    padding: 4rem;
  }

  &__left {
    display: flex;
    gap: spacing(5);
    position: relative;
    align-items: center;

    &--number {
      font-size: 2.5rem;
    }

    &--text {
      font-size: 1.6rem;
    }
  }

  &__right {
    font-size: 2rem;
    background-color: $color-red;

    span {
      display: block;
      @include box(2rem);
      position: relative;

      i {
        top: 80%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
  }
}

/* ----------------------------------------- */
/*          [ Button - Page down ]
/* ----------------------------------------- */
.button-page-down {
  color: #fff;
  font-size: 1.6rem;
  @include box(7rem);
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  transition: all 500ms ease-out;

  &:hover {
    color: #000;
    transform: scale(1.2);
    background-color: #fff;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  i {
    display: flex;
    align-items: center;
    pointer-events: none;
    justify-content: center;
  }

  &.move-down-animation {
    opacity: 0.2;

    &:hover {
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
    }
  }
}

.scroll-buttons {
  display: flex;
  gap: spacing(3);
}

/* ----------------------------------------- */
/*             [ Regular button ]
/* ----------------------------------------- */
.regular-button {
  border: unset;
  font-size: 1.8rem;
  font-family: $font-primary;
  color: $color-text-secondary;
  background-color: transparent;
  padding: spacing(1) spacing(2);
}
