.spin-text {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  justify-content: center;

  &:hover span {
    font-size: 1.4rem;
  }

  &__paragraph {
    // width: 100%;
    height: 10rem;
    position: relative;
    animation: spin-effect 15s linear infinite;
  }

  span {
    left: 50%;
    font-size: 1.2rem;
    position: absolute;
    color: $color-text;
    transform-origin: 0 5rem;
    text-transform: capitalize;
    font-family: $font-primary;
    transition: all 0.2s ease-out;
  }
}

@keyframes spin-effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
