html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

* {
  cursor: none;
  box-sizing: inherit;
}

section {
  backface-visibility: hidden;
}
