$color-text: #fff;
$color-red: #d44d5c;
$color-pale: #e3b5a4;
$color-light: #f5e9e2;
$color-black: #0b0014;
$color-cherry: #773344;

// -------------- [ Fonts ] --------------
$font-primary: 'Kode Mono', monospace;
$font-secondary: 'Roboto', sans-serif;
