.landing-page__experience {
  display: grid;
  gap: spacing(2);
  color: $color-light;
  font-family: $font-primary;
  grid-template-columns: 1fr 1fr 1fr;

  &--card {
    padding: spacing(4);
    border-radius: 1rem;
    background: linear-gradient(45deg, #343434, transparent);

    &__header {
      font-size: 1.8rem;
      margin-bottom: spacing(2);
    }

    &__content {
      line-height: 1.2;
      font-size: 1.4rem;

      li {
        margin-bottom: spacing(2);
      }
    }
  }
}
