.container__body--projects {

  &__project {
    display: flex;
    max-height: 40rem;
    position: relative;
    border-radius: 0.3rem;
    transition: all 0.5s ease;
    border: 1px solid #747474;
    background-color: #2222226e;

    & > *:first-child {
      width: 40%;
    }

    & > *:last-child {
      width: 60%;
    }

    &--content {
      display: flex;
      gap: spacing(4);
      flex-direction: column;
      padding: spacing(5) spacing(3);
      border-right: 1px solid #747474;
    }

    &--button {
      margin-top: auto;
      font-weight: bold;
      font-size: 1.4rem;
      width: fit-content;
      color: $color-black;
      text-decoration: none;
      font-family: $font-primary;
      padding: spacing(2) spacing(4);
      background-color: $color-light;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2) translateX(1rem);
      }

      &.progress:hover {
        color: $color-text;
        background-color: red;
        text-decoration: line-through;
      }
    }

    &--image {
      width: 100%;
      display: flex;
      padding: spacing(3);
      justify-content: center;
    }

    img {
      height: 100%;
      object-fit: contain;
      border-radius: 0.3rem;
    }

    &--header,
    &--body {
      color: $color-text;
      font-family: $font-secondary;
    }

    &--header {
      font-size: 3.2rem;
      font-weight: bold;
      letter-spacing: 2px;
      font-family: $font-secondary;
    }

    &--tags {
      display: flex;
      gap: spacing(1);
      flex-wrap: wrap;
      margin: spacing(1) 0;

      &__tag {
        font-size: 1.2rem;
        color: $color-text;
        padding: spacing(2);
        letter-spacing: 1px;
        border-radius: 0.2rem;
        background-color: #2C2C2C;
        font-family: $font-secondary;
      }
    }

    &--body {
      line-height: 1.5;
      font-size: 1.2rem;
      letter-spacing: 1px;
      margin-bottom: spacing(2);
    }

    &--status {
      font-size: 1.6rem;
      font-weight: bold;
      text-transform: capitalize;
      font-family: $font-secondary;

      &.progress {
        color: #225bb9;
      }

      &.done {
        color: #22b940;
      }
    }
  }
}
