.container__body--projects {
  display: grid;
  gap: spacing(2);
  grid-template-columns: repeat(3, 1fr);

  &__project {
    position: relative;
    padding: spacing(2);
    border-radius: 0.3rem;
    transition: all 0.5s ease;
    background-color: #232323bf;

    &--content {
      margin-top: spacing(2);
    }

    &--image,
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 0.3rem;
    }

    &--header,
    &--body {
      color: $color-text;
      font-family: $font-secondary;
    }

    &--header {
      font-size: 3.2rem;
      font-weight: bold;
      letter-spacing: 2px;
    }

    &--tags {
      display: flex;
      gap: spacing(1);
      flex-wrap: wrap;
      margin: spacing(1) 0;

      &__tag {
        font-size: 1.2rem;
        font-weight: bold;
        color: $color-text;
        padding: spacing(1);
        border-radius: 0.5rem;
        font-family: $font-secondary;
        background-color: $color-black;
      }
    }

    &--body {
      line-height: 1.5;
      font-size: 1.2rem;
      letter-spacing: 1px;
      margin-bottom: spacing(2);
    }

    &--status {
      font-size: 1.6rem;
      font-weight: bold;
      text-transform: capitalize;
      font-family: $font-secondary;

      &.progress {
        color: #225bb9;
      }

      &.done {
        color: #22b940;
      }
    }

    &--fade-in {
      top: 0px;
      left: 0px;
      opacity: 0;
      display: flex;
      @include box(100%);
      position: absolute;
      align-items: center;
      flex-direction: column;
      text-decoration: unset;
      justify-content: center;
      transition: all 0.5s ease;
      background-color: rgba(0, 0, 0, 0.8);

      span {
        font-size: 2rem;
        font-weight: bold;
        color: $color-text;
        letter-spacing: 1px;
        margin-bottom: spacing(2);
        text-transform: uppercase;
        font-family: $font-primary;
      }
    }

    &:hover {
      transform: translateY(-5px) skewX(-1deg);

      .container__body--projects__project--fade-in {
        opacity: 1;
      }
    }
  }
}
