.template__left {
  width: 25rem;
  padding: 5rem 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba($color-light, 0.3);

  &--profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: spacing(10);

    &__image {
      @include box(7rem);

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    &__info {
      h3 {
        font-size: 1.8rem;
        text-align: center;
        font-family: $font-primary;
        color: $color-text-secondary;
      }
    }
  }

  &--socials {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      gap: spacing(2);
      font-size: 1.8rem;
      align-items: center;
      white-space: nowrap;
      text-decoration: none;
      text-transform: uppercase;
      font-family: $font-primary;
      justify-content: flex-start;
      color: $color-text-secondary;
      transition: all 0.3s ease-out;
      padding: spacing(3) spacing(3);

      & > * {
        pointer-events: none;
      }

      &:hover {
        opacity: 0.9;
        color: $color-black;
        transform: translateX(1rem);
        background-color: $color-light;
      }
    }
  }
}
