.right-menu {
  top: -1.6rem;
  width: 40rem;
  height: 90vh;
  right: -0.6rem;
  overflow: auto;
  position: absolute;
  border-radius: 1.5rem;
  border: 1px solid #4f4f4f;
  animation: menu-fade-in 0.2s ease-out;
  background: linear-gradient(to bottom, rgb(35 35 35 / 90%), rgba(0, 0, 0, 0.8));

  &__header {
    width: 100%;
    height: 8rem;
    display: flex;
    position: relative;
    align-items: center;

    h2 {
      font-size: 2.2rem;
      color: $color-text;
      margin: 0 spacing(5);
    }

    .container__header__burger {
      top: spacing(3);
      right: spacing(1);
      position: absolute !important;
    }
  }

  &__main {
    padding: spacing(4);

    h3 {
      font-size: 1.6rem;
      color: $color-light;
      font-family: $font-primary;
    }

    &--links {
      display: flex;
      gap: spacing(3);
      flex-direction: column;
      margin-bottom: spacing(8);
    }

    &--link {
      width: 100%;
      display: flex;
      gap: spacing(8);
      overflow: hidden;
      text-align: left;
      font-weight: 800;
      font-size: 1.6rem;
      position: relative;
      color: $color-light;
      padding: spacing(3);
      border-radius: 1.5rem;
      background: transparent;
      text-transform: uppercase;
      font-family: $font-primary;
      border: 1px solid #878787;
      transition: all 0.2s ease-out;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

      &__background {
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        position: absolute;
        transition: all 0.4s ease-out;
      }

      p {
        margin: 0;
        position: relative;
      }

      &__arrow {
        position: relative;
        margin-left: auto;
      }

      &:hover {
        color: #2f2f2f;
        border-color: #2f2f2f;
      }

      &:hover &__arrow {
        color: #2f2f2f;
      }

      &__bubble {
        top: 50%;
        left: -1.6rem;
        @include box(7rem);
        position: absolute;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: all 0.4s ease-out;
        background-color: $color-light;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }

      &:hover &__bubble {
        width: 100%;
        transform: translateY(-50%) scale(1.5);
      }

      &__icon {
        color: #2f2f2f;
        position: relative;
        transform: scale(1.1);
      }
    }
  }
}

@keyframes menu-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
